{% extends "base.html" %}

<!-- Active Navbar Item highlighted -->
{% block schedule-nav-item-active %}active{% endblock %}

<!-- Extra sidebar content -->
{% block extra-sidebar %}
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapse-saved-schedules" aria-expanded="false" aria-controls="collapse-saved-schedules">
            <i class="fas fa-fw fa-save"></i>
            <span>Saved Schedules</span>
        </a>
        <div id="collapse-saved-schedules" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                {% if schedules %}
                    {% for schedule in schedules %}
                        <a class="collapse-item" href="/schedule?id={{ schedule.id }}">{{ schedule.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
{% endblock %}

{% block container-fluid %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="mb-0 text-gray-800">Schedule</h3>
    </div>

    {% if requested_schedule and requested_schedule != "Not found" %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ requested_schedule.name }}</h6>
            </div>

            <div class="card-body">
                <div id="time-grid" data-year="{{ requested_schedule.year }}" data-term="{{ requested_schedule.term }}" data-id="{{ requested_schedule.id }}"></div>

                <button class="btn btn-success my-4">Add Course / Section</button>
                <button class="btn btn-danger my-4">Remove Course / Section</button>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
            </div>

            <div class="card-body">

            </div>
        </div>
    {% elif requested_schedule and requested_schedule == "Not found" %}
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Schedule Not Found</p>
            <p class="text-gray-500 mb-0">It looks like you found a non-existent schedule...</p>
            <a href="/">← Back to Home</a>
        </div>
    {% else %}
        <p class="mb-4">Please select a schedule from the sidebar, or create a new schedule.</p>
    {% endif %}
{% endblock %}

{% block extra-html %}


{% endblock %}

{% block js-scripts %}
  <script>
      let calendar;

      function getSectionMeetingsSuccessCallbackHandler(data) {
          let meetings = data['response']['data'];
          let meeting;
          for (meeting of meetings) {
              calendar.addEvent({
                  title: meeting['section'],
                  startRecur: meeting['start_date'],
                  endRecur: meeting['end_date'],
                  startTime: meeting['start_time'],
                  endTime: meeting['end_time'],
                  daysOfWeek: convert_meeting_days_to_numbers_array(meeting),
                  eventTextColor: 'red'
              });
          }

          /* Here, we begin adding each meeting to the  */
      }

      function getScheduleSectionsSuccessCallbackHandler(data) {

          let sections = data['response']['data'];
          console.log(sections);
          let section;
          for (section of sections) {
              get_section_meetings(section["crn"], getSectionMeetingsSuccessCallbackHandler);
          }
      }

      document.addEventListener('DOMContentLoaded', function() {
          let calendarEl = document.getElementById('time-grid');

          // If calendar to be displayed, first render calendar and the start date properly
          if (calendarEl != null) {
              let schedule_year = document.getElementById('time-grid').getAttribute('data-year');
              let schedule_term = document.getElementById('time-grid').getAttribute('data-term');
              let schedule_id = document.getElementById('time-grid').getAttribute('data-id');

              calendar = new FullCalendar.Calendar(calendarEl, {
                  plugins: ['timeGrid'],
                  themeSystem: 'bootstrap',
                  defaultView: 'timeGridWeek',
                  allDaySlot: false,
                  slotMinTime: "07:00:00",
                  height: 800,
                  firstDay: 1,
                  defaultDate: schedule_to_calendar[schedule_year][schedule_term]
              });

              calendar.render();

              /* Must fetch all sections and meetings associated with the schedule for that term, and
               * and add to the schedule.
               */
              get_schedule_sections(schedule_id, getScheduleSectionsSuccessCallbackHandler);

          }

      });
  </script>
{% endblock %}