{% extends "base.html" %}

<!-- Active Navbar Item highlighted -->
{% block schedule-nav-item-active %}active{% endblock %}

<!-- Extra sidebar content -->
{% block extra-sidebar %}
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapse-saved-schedules" aria-expanded="false" aria-controls="collapse-saved-schedules">
            <i class="fas fa-fw fa-save"></i>
            <span>Saved Schedules</span>
        </a>
        <div id="collapse-saved-schedules" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"></h6>
                {% if schedules %}
                    {% for schedule in schedules %}
                        <a class="collapse-item" href="/schedule?id={{ schedule.id }}">{{ schedule.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
{% endblock %}

{% block container-fluid %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="mb-0 text-gray-800">Schedule</h3>
    </div>

    {% if requested_schedule and requested_schedule != "Not found" %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ requested_schedule.name }}</h6>
            </div>

            <div class="card-body">
                <div id="time-grid" data-year="{{ requested_schedule.year }}" data-term="{{ requested_schedule.term }}" data-id="{{ requested_schedule.id }}"></div>

                <button class="btn btn-success my-4">Add Course / Section</button>
                <button class="btn btn-danger my-4">Remove Course / Section</button>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
            </div>

            <div class="card-body">

            </div>
        </div>
    {% elif requested_schedule and requested_schedule == "Not found" %}
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Schedule Not Found</p>
            <p class="text-gray-500 mb-0">It looks like you found a non-existent schedule...</p>
            <a href="/">← Back to Home</a>
        </div>
    {% else %}
        <p class="mb-4">Please select a schedule from the sidebar, or create a new schedule.</p>
    {% endif %}
{% endblock %}

{% block extra-html %}


{% endblock %}

{% block js-scripts %}
  <script>

      /* Class that represents the calendar on the schedule page. */
      class Calendar {
          constructor(element_id, schedule_provider) {
              this.dom_element = document.getElementById(element_id);
              if (this.dom_element == null) {
                  throw new Error('Could not find DOM element with ID: '+element_id);
              }

              this.schedule_provider = schedule_provider;
              this.schedule_year = document.getElementById('time-grid').getAttribute('data-year');
              this.schedule_term = document.getElementById('time-grid').getAttribute('data-term');
              this.schedule_id = document.getElementById('time-grid').getAttribute('data-id');

              this.calendar = new FullCalendar.Calendar(this.dom_element, {
                  plugins: ['timeGrid'],
                  themeSystem: 'bootstrap',
                  defaultView: 'timeGridWeek',
                  allDaySlot: false,
                  slotMinTime: "07:00:00",
                  height: 800,
                  firstDay: 1,
                  defaultDate: schedule_to_calendar[this.schedule_year][this.schedule_term]
              });

              this.calendar.render();
          }

          add_event(title, start_recur, end_recur, start_time, end_time, days_of_week) {
              this.calendar.addEvent({
                  title: title,
                  startRecur: start_recur,
                  endRecur: end_recur,
                  startTime: start_time,
                  endTime: end_time,
                  daysOfWeek: days_of_week,
                  eventTextColor: 'red'
              });
          }

          render_schedule() {
              // Set a scope for the callback functions to set properties and call functions
              let self = this;

              this.schedule_provider.get_schedule_sections(this.schedule_id, function(data) {
                  let sections = data['response']['data'];

                  let section;
                  for (section of sections) {
                      ScheduleProvider.get_section_meetings(section["crn"], function(data) {
                          let meetings = data['response']['data'];

                          let meeting;
                          for (meeting of meetings) {
                              self.add_event(
                                  meeting['section'],
                                  meeting['start_data'],
                                  meeting['end_date'],
                                  meeting['start_time'],
                                  meeting['end_time'],
                                  convert_meeting_days_to_numbers_array(meeting)
                              )
                          }
                      });
                  }
              });
          }
     }

    document.addEventListener('DOMContentLoaded', function() {
        // Initialize calendar and render the sections and meetings
        let calendar;
        if ($("#time-grid").length) {
            calendar = new Calendar('time-grid', ScheduleProvider);
            calendar.render_schedule();
        }


    });



  </script>
{% endblock %}