{% extends "base.html" %}
{% load static %}

{% block container-fluid %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="mb-0 text-gray-800">Home</h3>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
        </div>
        <div class="card-body">
            <!-- Welcome logo -->
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width:15rem;" src="{% static "img/undraw_posting_photo.svg" %}" alt="Welcome logo">
            </div>

            <!-- Welcome page hint text -->
            <p class="text-center">This is the home page where you can find your saved schedules and degree plans.</p>

            <!-- Schedules section header title -->
            <h1 class="h3 font-weight-bold text-center text-gray-800 my-4">Schedules</h1>

            <!-- Active schedules list -->
            <ul class="list-group" id="schedule-menu">
            </ul>
            <!--<p class="text-center">Looks like you haven't created any schedules yet... click below to start one!</p>-->

            <!-- Start new Schedule button -->
            <div class="col-12 text-center">
                <a href="/schedule/add" class="btn btn-success btn-lg my-4">New Schedule</a>
            </div>

            <!-- Sequences section header title -->
            <h1 class="h3 font-weight-bold text-center text-gray-800 my-4">Degree Plans</h1>

            <!-- Active sequences list -->
            <ul class="list-group" id="sequence-menu">
            </ul>
            <!--<p class="text-center">Looks like you haven't created any sequences yet... click below to start one!</p>-->

            <!--<ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 my-2">
                            <h6 class="text-left font-weight-bold text-gray-800">My Test Sequence</h6>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md my-2">
                            <div class="float-right">
                                <button class="btn btn-primary my-1" type="button">Open</button>
                                <button class="btn btn-danger my-1" type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">Test 2</li>
                <li class="list-group-item">Test 3</li>
            </ul>-->

            <!-- Start new Degree Plan button -->
            <div class="col-12 text-center">
                <a href="/sequence/add" class="btn btn-success btn-lg my-4">New Degree Plan</a>
            </div>
        </div>
    </div>

    <!-- Delete schedule modal -->
    <div class="modal fade" id="scheduleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Are you sure you want to delete this schedule?
                <form action="/api/schedule/remove" method="post" class="user">
                    {% csrf_token %}
                    <input type="hidden" name="schedule-id" id="scheduleDeleteModalID" value="">
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Delete">
                </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="#">Logout</a>
            </div>
          </div>
        </div>
    </div>

{% endblock %}

{% block js-scripts %}
    <script>
        class ScheduleMenu {
            /**
             * Renders the logged in user's schedules
             * @param element_id
             */
            constructor(element_id) {
                this.dom_element = $("#"+element_id);
                this.update_menu();
            }

            /**
             * Updates the menu UI by fetching all of a logged in user's schedules
             */
            update_menu() {
                let self = this;

                ScheduleProvider.get_user_schedules(function(data) {
                    let schedules = data['response']['data'];
                    let schedule
                    for (schedule of schedules) {
                        self.dom_element.append(`
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 my-2">
                                        <h6 class="text-left font-weight-bold text-gray-800">${schedule.name}</h6>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 my-2">
                                        <span class="d-block">
                                            <span>Year:</span>
                                            <span class="font-weight-bold">${schedule.year}</span>
                                        </span>
                                        <span class="d-block">
                                            <span>Term:</span>
                                            <span class="font-weight-bold">${schedule.term}</span>
                                        </span>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md my-2">
                                        <div class="float-right">
                                            <a class="btn btn-primary my-1" href="/schedule?id=${schedule.id }">Open</a>
                                            <button class="btn btn-danger my-1 delete-schedule" type="button" value="${schedule.id}" data-toggle="modal" data-target="#scheduleDeleteModal">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </li>`);

                    }
                });
            }
        }

        class SequenceMenu {
            /**
             * Renders the logged in user's sequences
             * @param element_id
             */
            constructor(element_id) {
                this.dom_element = $("#"+element_id);
                this.update_menu();
            }

            /**
             * Updates the menu UI by fetching all of a logged in user's sequences
             */
            update_menu() {
                // TODO Implement once backend works
            }
        }

        let schedule_menu;
        if ($("#schedule-menu").length) {
            schedule_menu = new ScheduleMenu("schedule-menu");
        }

        let sequence_menu;
        if ($("#sequence-menu").length) {
            sequence_menu = new SequenceMenu("sequence-menu");
        }
    </script>
{% endblock %}